flask
flask-cors
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

export HONEYCOMP_API_KEY=4H2G6zcILfX9VTMwj5lozB
gp env HONEYCOMP_API_KEY=4H2G6zcILfX9VTMwj5lozB
